# Folders
.git
**/.git
.storybook
build
cache
core
locales/*.json
node_modules
omelette
packages/*
!packages/eea-website-frontend
!packages/eea-website-frontend/**
src/addons

# Files
.env
*.log
.dockerignore
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.gitmodules
.prettierignore
bootstrap
cypress*.json
docker-compose.yml
Dockerfile
Jenkinsfile
start_.sh
